/* Backgrounds */
.bg-all {
  background-color: rgb(46, 46, 46) !important;
}

.bg-body-navbar {
  --bs-bg-opacity: 0.6;
  --bs-body-navbar-bg-rgb: 0, 0, 0;
  background-color: rgba(var(--bs-body-navbar-bg-rgb), var(--bs-bg-opacity)) !important;
}

.bg-body-offcanvas {
  background-color: none !important;
}

@media (max-width: 767.98px) {
  .bg-body-offcanvas {
    background-color: #373a47 !important;
  }
}

.bg-about-me {
  background-color: rgb(1, 71, 0) !important;
}

.bg-projects {
  margin-top: 3rem !important;
  background-color: rgb(20, 20, 20) !important;
  margin-bottom: 3rem !important;
}

/* Navbar */
.navbar-overlap-sticky {
  height: 56px !important;
  margin-bottom: -56px;
}

/* About me */
.about-me-title {
  padding-top: 1rem !important;
  padding-bottom: 0.75rem !important;
  text-align: center;
}

.about-me-content {
  text-align: justify;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  padding-bottom: 1.5rem !important;
}

/* Projects */
.projects-title {
  padding-top: 1rem !important;
  padding-bottom: 0.75rem !important;
  text-align: center;
}

.projects-banner {
  text-align: center;
  padding-bottom: 1.5rem !important;
}

.projects-cards {
  text-align: center;
  color: white;
  margin-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.project-card {
  text-align: center;
  border: none;
  margin-bottom: 1rem;
  background-color: transparent !important;
  color: white;
}

/* Hamburger button */
.button-no-border {
  border: none !important;
}

.button-no-border:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0 !important;
}

/* Icons of items */
.offcanvas-item-icon {
  display: inline-block;
  text-align: center;
  width: 30px;
}

.offcanvas-item-ps {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

@media (max-width: 767.98px) {
  .offcanvas-item-pb {
    padding-bottom: 1.25rem !important;
  }

  .offcanvas-item-ps {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

/* Generic Colors */
.white-icon {
  color: white !important;
  transition: 0.6s;
}

.white-icon:hover {
  color: rgb(209, 209, 209) !important;
}

.white-color {
  color: white !important;
}


/* Padding of the navbar title */
.ps-title {
  padding-left: 6rem !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

@media (max-width: 980px) {
  .ps-title {
    padding-left: 5rem !important;
  }
}

@media (max-width: 650px) {
  .ps-title {
    padding-left: 4rem !important;
  }
}

@media (max-width: 550px) {
  .ps-title {
    padding-left: 3rem !important;
  }
}

@media (max-width: 450px) {
  .ps-title {
    padding-left: 2rem !important;
  }
}

@media (max-width: 300px) {
  .ps-title {
    padding-left: 1rem !important;
  }
}

@media (max-width: 250px) {
  .ps-title {
    padding-left: 0rem !important;
  }
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 30%;
  background-color: #192231;
  z-index: 99;
}

.loader-content {
  min-height: 100% !impoant;
}

/* Modals */
.modal-main-title {
  font-size: 60px;
}

@media (max-width: 991px) {
  .modal-main-title {
    font-size: 50px;
  }
}

@media (max-width: 490px) {
  .modal-main-title {
    font-size: 35px;
  }
}

.project-info {
  margin-top: 20px;
}

.project-info-cell {
  max-width: 300px !important;
}

.project-info-cell-separation {
  padding-left: 20px;
}

.table-info-project {
  margin: auto;
  text-align: left !important;
}

.modal-body-margin {
  margin-left: 20px;
  margin-right: 20px;
}

.modal-description {
  margin-bottom: 20px !important;
}

.modal-link-to-test {
  margin-top: 20px;
  margin-bottom: 20px !important;
}

.project-video {
  width: auto;
}

.btn-modal {
  border: 0px solid transparent;
  background-color: transparent !important;
  padding: 0px 0px;
  color: white;
}

.title-project {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.6);
  font-size: 30px;
}

.project-image {
  transition: transform .2s; 
}

.project-image:hover {
  transform: scale(1.1);
}

/*Tags*/
.project-tags {
  margin-bottom: 1rem;
}

.project-tag {
  color: white;
  border: 0px solid transparent;
  border-radius: 5px;
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.project-tag-separation {
  margin-right: 15px;  
}

.unreal-tag {
  background-color: rgb(41, 84, 255);  
}

.cplusplus-tag {
  background-color: rgb(78, 6, 116); 
}

.university-tag {
  background-color: rgb(116, 6, 39);  
}


/* Contributions */
.container-contributions {
    width: max-content;
    margin-bottom: 2rem;
}

.table-contributions>:not(caption)>*>* {
  border: 0px solid transparent;
  color: white;
  background-color: transparent;
}

.td-contribution {
  max-width: 330px;
}

.project-resume {
  margin-bottom: 1.1rem;
}

#rm-modal {
  background-color: rgb(40, 40, 40);
  color: white;
}